@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-on-surface font-body-md antialiased;
  }
}

@layer utilities {
  .editorial-underline {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f0ede9;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1c1c1a;
  }
  .card-hover:hover {
    background-color: #eae8e4;
    transition: all 0.3s ease;
  }
}
